body {
  background-image: url("../img/app/phone6x12Portrait.png");
  background-repeat: no-repeat;
}
.AppPortrait {
  position: absolute;
  left: 0.33in;
  top: 1.11in;
  width: 3.79in;
  height: 6.67in;
}
.AppLandscape {
  position: absolute;
  left: 1.21in;
  top: 0.33in;
  width: 6.67in;
  height: 3.79in;
}
.UI {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}
.IconsHover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4%;
  background: transparent;
  z-index: 3;
}
.Icons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 13%;
  display: none;
  background: black;
  color: white;
  font-size: 36px;
  border: 1px solid black;
  z-index: 4;
}
.DestinationIcon {
  position: absolute;
  left: 6.25%;
  top: 0;
  width: 12.5%;
  height: 94%;
  z-index: 5;
}
.TripIcon {
  position: absolute;
  left: 31.25%;
  top: 0;
  width: 12.5%;
  height: 94%;
  z-index: 5;
}
.DealsIcon {
  position: absolute;
  left: 56.25%;
  top: 0;
  width: 12.5%;
  height: 94%;
  z-index: 5;
}
.NavigateIcon {
  position: absolute;
  left: 81.25%;
  top: 0;
  width: 12.5%;
  height: 94%;
  z-index: 5;
}
.Icons > div {
  display: table;
}
.Icons > div > div {
  display: table-cell;
  vertical-align: middle;
}
.View {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: white;
}
.Destination {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #658552;
  text-align: center;
}
.DestinationLabelInput {
  padding-top: 1.0em;
}
.DestinationUserLabel {
  font-size: 1.0em;
  font-weight: bold;
}
.DestinationUserInput {
  font-size: 1.0em;
  font-weight: bold;
}
.DestinationWhat {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 0.5em;
}
.DestinationDest {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.DestinationSelect {
  font-size: 1.0em;
  font-weight: bold;
}
.Trip {
  display: none;
}
.Deals {
  display: none;
}
.Navigate {
  display: none;
}
.Threshold {
  display: none;
}
.Go {
  display: none;
  background-color: #658552;
}
.GoBanner {
  position: absolute;
  left: 4%;
  top: 4%;
  width: 92%;
  height: 24%;
  display: table;
  font-size: 7.0em;
  font-weight: bold;
  background-color: white;
  color: #658552;
}
.GoBannerText {
  display: table-cell;
  vertical-align: middle;
}
.GoDeals {
  position: absolute;
  left: 3%;
  top: 32%;
  width: 94%;
  height: 45%;
  font-size: 1.5em;
  background-color: #678754;
  color: white;
}
.GoDrive {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
}
.NoGo {
  display: none;
}
.NoGoBanner {
  position: absolute;
  left: 4%;
  top: 4%;
  width: 92%;
  height: 24%;
  display: table;
  font-size: 5.0em;
  font-weight: bold;
  background-color: #E2492F;
  color: white;
}
.NoGoBannerText {
  display: table-cell;
  vertical-align: middle;
}
.NoGoDeals {
  position: absolute;
  left: 4%;
  top: 32%;
  width: 92%;
  height: 45%;
  font-size: 1.5em;
  background-color: white;
}
.NoGoDrive {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
}
.Advisory {
  display: none;
}
.Weather {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.0em;
}
.Weather1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather2 {
  position: absolute;
  left: 12.5%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather3 {
  position: absolute;
  left: 25.0%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather4 {
  position: absolute;
  left: 37.5%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather5 {
  position: absolute;
  left: 50.0%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather6 {
  position: absolute;
  left: 62.5%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather7 {
  position: absolute;
  left: 75.0%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.Weather8 {
  position: absolute;
  left: 87.5%;
  top: 0;
  width: 12.5%;
  height: 100%;
  border: 1px solid;
  text-align: center;
}
.WeatherName {
  font-size: 0.9em;
}
.WeatherName {
  font-size: 0.9em;
}
.WeatherIcon {
  font-size: 2.5em;
}
.WeatherSumm {
  font-size: 1.0em;
  padding-top: 0.2em;
}
.WeatherTemp {
  font-size: 1.5em;
}
.Road {
  display: none;
}
.Deals {
  display: none;
}
#gritter-notice-wrapper {
  position: fixed;
  top: 240px;
  left: 60px;
  width: 301px;
  z-index: 9999;
  border: 2px solid black;
}
.gritter-item {
  display: block;
  background-color: white;
  color: #eee;
  padding: 2px 11px 8px 11px;
  font-size: 1em;
  font-family: 'Droid Sans', sans-serif;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  color: #222;
}
.Navi {
  display: none;
}
