


body { background-image:url("../img/app/phone6x12Portrait.png");
       background-repeat:no-repeat; }


.AppPortrait       { position:absolute; left:0.33in; top:1.11in;; width:3.79in; height:6.67in;  }
.AppLandscape      { position:absolute; left:1.21in; top:0.33in;; width:6.67in; height:3.79in;  }

.UI                { position:absolute; left:0; top:0; width:100%; height:100%; font-family: 'Droid Sans', sans-serif; }

.IconsHover        { position:absolute; left:    0;  top:0;  width:100%;  height: 4%;
                     background:transparent; z-index:3; }

.Icons            { position:absolute; left:    0;  top:0;  width:100%;  height: 10%; display:none;
                    background:black; color:white; font-size:36px; border:1px solid black; z-index:4; }
.DestinationIcon    { position:absolute; left:    0;  top:0; width:25.00%; height:94%; z-index:5; text-align:center;}
.RecommendationIcon { position:absolute; left:25.00%; top:0; width:25.00%; height:94%; z-index:5; text-align:center;}
.TripIcon           { position:absolute; left:50.00%; top:0; width:25.00%; height:94%; z-index:5; text-align:center;}
.DealsIcon          { position:absolute; left:75.00%; top:0; width:25.00%; height:94%; z-index:5; text-align:center;}


.Icons > div             { display:table; }                                // CSS Hack with table and
.Icons > div > div       { display:table-cell; vertical-align:middle; }    // table-cell vertical middle
.Icons > div > div > div { font-size:0.3em; }

.View             { position:absolute; left:0; top:0%; width:100%; height:100%; background:white; }

.Destination           { position:absolute; left:0; top:0%; width:100%; height:100%;
                         display:none; background-color:#658552; text-align:center; }

.SourceBody            {  }
.SourceLabelInput      { padding-top:1.0em; }
.SourceUserLabel       { font-size:1.0em;  font-weight:bold; }
.SourceUserInput       { font-size:1.0em;  font-weight:bold; }
.SourceWhat            { font-size:2.5em;  font-weight:bold; padding-top:0.5em;    }
.SourceDest            { font-size:2.5em;  font-weight:bold; padding-bottom:0.5em; }
.SourceSelect          { font-size:1.0em;  font-weight:bold; }

.DestinationBody       {  }
.DestinationLabelInput { padding-top:1.0em; }
.DestinationUserLabel  { font-size:1.0em;  font-weight:bold; }
.DestinationUserInput  { font-size:1.0em;  font-weight:bold; }
.DestinationWhat       { font-size:2.5em;  font-weight:bold; padding-top:0.5em;    }
.DestinationDest       { font-size:2.5em;  font-weight:bold; padding-bottom:0.5em; }
.DestinationSelect     { font-size:1.0em;  font-weight:bold; }

.Trip             { display:none; }

.Deals            { display:none; }

.Navigate         { display:none; }

.Threshold        { display:none; }

.Go               { position:absolute; left:0; top:0%; width:100%; height:100%;
                    display:none; background-color:#658552; text-align:center; }

.GoBanner         { position:absolute; left:4%; top:4%; width:92%; height:26%; max-height:26%; display:table;        // 30%
                    font-weight:bold; background-color:white; color:#658552;   }

.GoBannerText     { display:table-cell; vertical-align:middle; }

.GoDeals          { position:absolute; left:4%; top:34%; width:92%; height:36%; overflow:auto;                      // 40%
                    font-size:1.5em;  background-color:#678754;; color:white; }

.GoDrive          { position:absolute; left:0; top:70%; width:100%; height:30%; }                     // 30%

.NoGo             { position:absolute; left:0; top:0%; width:100%; height:100%;
                    display:none; background-color:#658552; text-align:center; }

.NoGoBanner       { position:absolute; left:4%; top:4%; width:92%; height:26%;  display:table;       // 30%
                    font-size:5.0em; font-weight:bold; background-color:#E2492F; color:white; }

.NoGoBannerText   { display:table-cell; vertical-align:middle; }

.NoGoDeals        { position:absolute; left:4%; top:34%; width:92%; height:36%;  overflow:auto; // 40%
                    font-size:1.5em; background-color:white;  }

.NoGoDrive        { position:absolute; left:4%; top:70%; width:92%; height:30%; }                  // 30%

.Advisory         { display:none; }

.Weather          { position:absolute; left:0;     top:0; width:100%;  height:45%; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:1.0em; }
.Weather1         { position:absolute; left:0;     top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather2         { position:absolute; left:12.5%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather3         { position:absolute; left:25.0%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather4         { position:absolute; left:37.5%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather5         { position:absolute; left:50.0%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather6         { position:absolute; left:62.5%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather7         { position:absolute; left:75.0%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }
.Weather8         { position:absolute; left:87.5%; top:0; width:12.5%; height:100%;  border:1px solid; text-align:center; }

.WeatherName { font-size:0.9em; }
.WeatherName { font-size:0.9em; }
.WeatherIcon { font-size:2.5em; }
.WeatherSumm { font-size:1.0em; padding-top:0.2em; }
.WeatherTemp { font-size:1.5em; }

.Road             { position:absolute; left:0; top:45%; width:100%;  height:55%;    background-color:beige;   }

.DriveBar         { position:absolute; left:0; bottom:0; width:100%;  height:100%;  background-color:#658552; }

.Deals            { display:none; }
.Navi             { display:none; }

