

/* iPhone with no retina display */
@media screen {
    body {
        background-image: url("../img/background.png");
    }
}

/* iPhone < 5 and retina display */
@media screen and (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url("../img/background@2x.png");
    }
}

/* iPhone 5 and retina display*/
@media screen and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url("../img/background-568h@2x.png");
    }
}