.tocs-font {
  font-family: Arial, Helvetica, sans-serif;
}
/*
.contrast (@color) when (luma(@color) >= @luma-upper-break) {
  //darker text for lighter backgrounds
  color:average(darken(@color,30%),#222); }
*/
.mixin-clearfix {
  zoom: 1;
}
.mixin-clearfix:before,
.mixin-clearfix:after {
  display: table;
  content: "";
}
.mixin-clearfix:after {
  clear: both;
}
.mixin-hover {
  cursor: pointer;
  background: #132020;
  color: #eff6f6;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
}
.mixin-hover-tocs {
  cursor: pointer;
  background: #132020;
  color: #eff6f6;
}
.mixin-border {
  border: #000000 solid 1px;
}
.mixin-border-left-top-right {
  border-left: solid #000000 1px;
  border-top: solid #000000 1px;
  border-right: solid #000000 1px;
  border-bottom: none;
}
.mixin-border-left-right-bottom {
  border-left: solid #000000 1px;
  border-top: none;
  border-right: solid #000000 1px;
  border-bottom: solid #000000 1px;
}
.mixin-border-left-top-bottom {
  border-left: solid #000000 1px;
  border-top: solid #000000 1px;
  border-right: none;
  border-bottom: solid #000000 1px;
}
.mixin-border-top-right-bottom {
  border-left: none;
  border-top: solid #000000 1px;
  border-right: solid #000000 1px;
  border-bottom: solid #000000 1px;
}
.mixin-shadow-none {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
.mixin-display-table {
  display: table;
}
.mixin-vertical-top {
  display: table-cell !important;
  vertical-align: top;
}
.mixin-vertical-middle {
  display: table-cell !important;
  vertical-align: middle;
}
.mixin-vertical-bottom {
  display: table-cell !important;
  vertical-align: bottom;
}
/* Linear Gradients 2  Color */
/* Center and corner radial gradients */
/* Standard linear gradients for W3C Firefox Opera IE10 Webkit11 */
/* filter:   progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff'); */
/* IE6 & IE7 */
/* filter:~"progid:DXImageTransform.Microsoft.Gradient(GradientType="@type~",StartColorStr="@cs1,~"EndColorStr="@cs2~");" } */
/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')"; */
/* IE8+ */
/* Standard radial gradients for W3C Firefox Opera IE10 Webkit11 */
/* Needs lot of work */
/*
.shape-octagon(@bg) {
   width:100px; height:100px; background:@bg; position:relative;
   &:before { content:""; position:absolute; top:0; left:0;
    border-bottom:29px solid @bg; border-left:29px solid .shape-eee; border-right:29px solid .shape-eee; width:42px; height:0; }
   &:after { content:""; position:absolute; bottom:0; left:0; border-top:29px solid @bg; border-left:29px solid .shape-eee;
    border-right:29px solid .shape-eee; width:42px; height:0; } }
*/
.shape-infinity:after {
  left: auto;
  right: 0;
  -moz-border-radius: 50px 50px 50px 0;
  border-radius: 50px 50px 50px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-font {
  font-family: Arial, Helvetica, sans-serif;
}
.btn-base-default {
  display: inline;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px;
  text-shadow: 0 -1px 1px rgba(19, 65, 88, 0.8);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  font: 10pt Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: #5da2a2 solid 1px;
}
.btn-page {
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  color: #000000;
  font: Arial, Helvetica, sans-serif;
  font-size: 7.5px;
  border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -o-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  padding: 1.875px 1.875px 1.875px 1.875px;
  display: inline;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.btn-pane {
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  color: #000000;
  font: Arial, Helvetica, sans-serif;
  font-size: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  padding: 1.5px 1.5px 1.5px 1.5px;
  display: inline;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.btn-over {
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  color: #000000;
  font: Arial, Helvetica, sans-serif;
  font-size: 4.5px;
  border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  -o-border-radius: 4.5px;
  -ms-border-radius: 4.5px;
  padding: 1.125px 1.125px 1.125px 1.125px;
  display: inline;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.btn-form {
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  color: #000000;
  font: Arial, Helvetica, sans-serif;
  font-size: 4.5px;
  border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  -o-border-radius: 4.5px;
  -ms-border-radius: 4.5px;
  padding: 1.125px 1.125px 1.125px 1.125px;
  display: inline;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.btn-grid {
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  color: #000000;
  font: Arial, Helvetica, sans-serif;
  font-size: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 0.75px 0.75px 0.75px 0.75px;
  display: inline;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.btn-link {
  background-image: -moz-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -o-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -ms-linear-gradient(top, #9ec7c7, #bedada);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9ec7c7), to(#bedada));
  color: #000000;
  font: Arial, Helvetica, sans-serif;
  font-size: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 0.75px 0.75px 0.75px 0.75px;
  display: inline;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.btn-page:hover {
  background-image: -moz-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -o-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -ms-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7db5b5), to(#9ec7c7));
  color: #000000;
}
.btn-pane:hover {
  background-image: -moz-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -o-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -ms-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7db5b5), to(#9ec7c7));
  color: #000000;
}
.btn-over:hover {
  background-image: -moz-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -o-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -ms-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7db5b5), to(#9ec7c7));
  color: #000000;
}
.btn-form:hover {
  background-image: -moz-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -o-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -ms-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7db5b5), to(#9ec7c7));
  color: #000000;
}
.btn-grid:hover {
  background-image: -moz-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -o-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -ms-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7db5b5), to(#9ec7c7));
  color: #000000;
}
.btn-link:hover {
  background-image: -moz-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -o-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -ms-linear-gradient(top, #7db5b5, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7db5b5), to(#9ec7c7));
  color: #000000;
}
.btn-base:hover {
  color: yellow;
}
/* .btn:active  { color: #FFFFFF; background:black } */
.btn-base a {
  color: #000000;
  text-decoration: none;
}
.btn-base a:hover {
  color: yellow;
}
.btn-push {
  display: inline-block;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-transition: -moz-box-shadow 2ms ease-in-out;
  -webkit-transition: -webkit-box-shadow 2ms ease-in-out;
  -o-transition: -o-box-shadow 2ms ease-in-out;
  -ms-transition: -ms-box-shadow 2ms ease-in-out;
  box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.35) 0 15px 20px 0;
  -moz-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.35) 0 15px 20px 0;
  -webkit-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.35) 0 15px 20px 0;
  -o-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.35) 0 15px 20px 0;
  -ms-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.35) 0 15px 20px 0;
}
.btn-push span {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  font-family: "cooper-black-std-1", "cooper-black-std-2", Helvetica, Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(19, 65, 88, 0.8);
  background-image: -moz-linear-gradient(top, #5da2a2, #9ec7c7);
  background-image: -o-linear-gradient(top, #5da2a2, #9ec7c7);
  background-image: -ms-linear-gradient(top, #5da2a2, #9ec7c7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#5da2a2), to(#9ec7c7));
  box-shadow: rgba(255, 255, 255, 0.15) 0 -1px 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 -1px 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 -1px 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.15) 0 -1px 1px 0;
  -ms-box-shadow: rgba(255, 255, 255, 0.15) 0 -1px 1px 0;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
}
.btn-push:active {
  box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.3) 0 12px 10px 0;
  -moz-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.3) 0 12px 10px 0;
  -webkit-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.3) 0 12px 10px 0;
  -o-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.3) 0 12px 10px 0;
  -ms-box-shadow: #5da2a2 0 8px 0 0, rgba(0, 0, 0, 0.3) 0 12px 10px 0;
}
.btn-push:active span {
  -moz-transform: translate(0, 4px);
  -webkit-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
}
.btn-push-mod {
  margin: 0 0 30px 0;
  padding: 80px 80px 80px 80px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0;
}
.tabs {
  overflow: hidden;
}
.tabs > ul {
  display: inline;
  list-style: none;
  list-style-image: none;
  font-size: 1.0em;
  margin: 0;
  padding-left: 0;
}
.tabs > ul > li {
  display: inline;
  margin: 0 4px 0 0;
  padding: 4px 8px 4px 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  -moz-border-radius-topleft: 14px;
  -moz-border-radius-topright: 14px;
  -webkit-border-top-left-radius: 14px;
  -webkit-border-top-right-radius: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #254141;
  color: #FFF;
}
.tabs > ul > li:hover {
  cursor: pointer;
  background: #132020;
  color: #eff6f6;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
}
.tabs > ul > .ton {
  background: #4a8282;
  color: yellow;
}
.tabs > .ctn {
  background: #4a8282;
  position: absolute;
  left: 0;
  top: 21px;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  -moz-border-radius-bottomleft: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
}
.table-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: 12px;
  margin-top: 12px;
  color: white;
}
.table-tr-obj {
  display: none;
}
.table-th {
  padding-left: 1ex;
  padding-right: 1ex;
  text-align: center;
}
#PAGER {
  min-width: 4em;
}
.table-th-page-num {
  min-width: 4em;
  font-size: 0.75em;
}
.table-th-page-beg {
  background: #1c3131;
  text-align: right;
  min-width: 1.2em;
}
.table-th-page-to {
  background: #1c3131;
  text-align: center;
  min-width: 0.2em;
}
.table-th-page-end {
  background: #1c3131;
  text-align: right;
  min-width: 1.2em;
}
.table-th-page-over {
  background: #1c3131;
  text-align: center;
  min-width: 0.2em;
}
.table-th-page-tot {
  background: #1c3131;
  text-align: right;
  min-width: 1.2em;
}
.table-td {
  padding-left: 1ex;
  padding-right: 1ex;
}
.table-tr-load {
  min-width: 4em;
  background: #386161;
}
.table-tr-group {
  background: #4a8282;
}
.table-th-filter {
  padding: 1ex;
}
.table-div-filter {
  width: 100%;
  overflow: hidden;
}
.table-input-filter {
  width: 90%;
  height: 1.5em;
  background: #bedada;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
}
.table-even {
  background: #254141;
}
.table-odds {
  background: #1c3131;
}
.table-thead {
  background: #1c3131;
}
.table-tfoot {
  background: #254141;
}
.table-icon-unsort {
  margin-left: 4px;
  background-position: -192px -24px;
}
.table-icon-ascend {
  margin-left: 4px;
  background-position: -288px -144px;
}
.table-icon-decend {
  margin-left: 4px;
  background-position: -312px -144px;
}
